{% extends 'base.html' %}
{% block title %} || ALL SHORT URLS {% endblock title %}
{% block body %}
  <div style="width:100%; overflow: scroll;">
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Original URL</th>
      <th scope="col">Short URL</th>
    </tr>
  </thead>
  <tbody>
    {% for each in all %}
            <tr>
                <td>{{each.label}}</td>
                <td><a href='{{each.ori_url}}' style='color:white'>{{each.ori_url}}</a></td>
                <td><a href='{{each.short_url}}' style='color:white'>{{each.short_url}}</a></td>
            </tr>
    
    {% endfor %}
    
    
  </tbody>
</table>
</div>
<br><br><br><br><br><br>
{% endblock body %}